.homeSection {
    min-height: 100vh;
    padding-top: 56px;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 56px;
}

.homeSection h2 {
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}

.homeHero {
    background-image: url('/img/home-hero-xl.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    color: white;
    padding-bottom: 112px;
}

.homeHero h1 {
    font-size: 64px;
    font-weight: 900;
}

.homeHero h2 {
    font-size: 48px;
    font-weight: 200;
}

.homeHero h3 {
    font-size: 32px;
    font-weight: 100;
}

.mediaHubSection {
    background-color: #1f1f1f;
    color: white;
    display: flex;
    align-items: center;
}

.aboutMe {
    background-color: #f1f1f1;
    color: #1f1f1f;
}

.projectHeader p {
    text-align: justify;
}

.projectSummary {
    display: flex;
    flex-direction: column; 
}

.projectFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.techSummary {
    padding-left: 64px;
    padding-right: 64px;
}

.iconGrid {
    display: flex;
    margin-bottom: 64px;
    align-items: center;
}